* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: 'fafafa';
}

:root {
  --background: #ebebeb;
  --normalWhite: #fff;
  --normalBlack: #000;
  --hoverCard: #e5f1fd;
  --headerBg: #ffe600;
  --primaryBlue: #003d56;
  --primaryBlueHover: #0b78a5;
  --inputBorder: #bec0c6;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

.baseBtn {
  text-decoration: none;
  color: var(--normalWhite);
  transition: 0.3s;
  background-color: var(--primaryBlue);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.baseBtn:hover {
  background-color: var(--primaryBlueHover);
}

.contenedor-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-card {
  background-color: var(--normalWhite);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
